.common-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/*--- Shared styles------ */
.display-flex{
    display: flex;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: #ffff;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    margin-bottom: 30px;
    cursor: pointer;
}
.main{
    max-width: 1150px;
    margin: 0 auto;
}

/* Header Styles */

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2.3rem;
    font-weight: 700;
}
.nav-links{
    list-style: none;
   font-size: 1rem;
   font-weight: 400;
}
.nav-link{
     margin-right: 30px;
     text-decoration: none;
}
.navbar, .banner{
    max-width: 1150px;
    margin: 0 auto;
}
/* Banner Styles */
.banner{
    text-align: center;
}
.banner-content{
    max-width: 740px;
    margin: 0 auto;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
}
.banner-description{
    font-size: 0.8rem;
    font-weight: 400;
}
.banner-img{
    width: 100%;
}
/* Team Section Start for Style  */
.team{
    align-items: center;
    margin: 100px 0;
    /* gap: 50px; */
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-img-container img{
    width: 100%;
}
.team-features{
    margin-left: 100px;
    max-width: 500px;
}
.section-title{
    font-size: 2.5rem;
    font-weight: 700;
}
.section-title> .dark-3{
    font-weight: 600;
}
.features-description{
    font-size: 0.9rem;
    margin-bottom: 30px;
}
.color-change{
    color: #FF900E;
}
/* Feature Section Start */
.feature{
    gap: 100px;
}
.feature div > .section-title{
    border-left: 4px solid #FF900E;
    padding: 20px;
    font-size: 2rem;
    margin: 0;
}
.feature-card {
    padding: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 20px;
}
.feature-card .feature-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0;
}
#experience-badge{
    padding: 35px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: -80px;
    margin-top: -80px;
}
#experience-year{
    font-size: 3rem;
    font-weight: 700;
}
/* Some Facts Section Start */
.some-facts > .section-title{
    margin: 20px 0;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 5px 0;
}
.fact-name{
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}
.fact-description{
    max-width: 550px;
   margin-bottom: 20px;
}
/* Sponsors Section Start */
.sponsor{
    margin-bottom: 80px;
}
.sponsor-info{
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.sponsors-companies img{
    max-width: 100%;
    filter: grayscale(100%);
}

/* Footer Section Start */
.footer{
    max-width: 1150px;
    margin: 0 auto;
    background-color: #FFF4E7;
     border-radius: 8px;
}
.footer-content{
    padding: 30px 0;
    text-align: center;
   
}
/*-------- Responsive Section------- */

@media screen and (max-width: 576px) {
    .navbar, .nav-links, .feature{
    flex-direction: column;
}
    .nav-item{
        margin-bottom: 30px;
    }
     .nav-link{
         margin-right: 0;
        font-size: 1.5rem;
     }
     .banner-title{
    font-size: 2.5rem;
}
     .team{
        flex-direction: column;
     }
     .team-img-container, .facts-container, .sponsors-companies{
       grid-template-columns: repeat(1, 1fr);
     }
     .team-features{
    margin-left: 20px;
    }
    #experience-badge{
        margin-left: 80px;
    }
    .feature img{
        width: 100%;
    }
   .facts-container, .sponsors-companies{
   justify-items: center;
   gap: 40px;
    }
}


@media screen and (min-width:576px) and (max-width: 992px) {
    .team, .feature{
        flex-direction: column;
    }
    .team-features{
    margin-left: 0px;
    max-width: 600px;
    }
     .feature img{
        width: 100%;
    }
    #experience-badge{
       margin-left: 300px;
    }
    .facts-container, .sponsors-companies{
    grid-template-columns: repeat(3, 1fr);
   justify-items: center;
   gap: 50px;
    }
}